<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="DDK Papyrus target" sequenceNumber="1591988771">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.12.0.v20190605-1801"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.12.0.v20190605-1801"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.12.0.v20190605-1801"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.18.0.v20190605-1800"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.200.v20190129-1112"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.400.v20190515-0925"/>
      <unit id="org.eclipse.draw2d" version="3.10.100.201606061308"/>
      <unit id="org.eclipse.gef" version="3.11.0.201606061308"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.9.3.v20190610-0948"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.18.0.v20190528-0845"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="2.18.0.v20190323-1100"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.12.1.201812070911"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.12.0.201805140824"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.12.0.201805221301"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.1.201905141505"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.0.v20181203-1331"/>
      <unit id="org.eclipse.core.commands" version="3.9.400.v20190516-1358"/>
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.18.0.v20190528-0716"/>
      <unit id="org.eclipse.xtend.typesystem.xsd.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.typesystem.uml2.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.emf.mwe.core" version="1.4.0"/>
      <unit id="org.eclipse.cdt.core" version="6.8.0.201905312053"/>
      <unit id="org.eclipse.cdt.codan.core" version="4.0.1.201811241055"/>
      <unit id="org.eclipse.cdt.managedbuilder.core" version="8.7.0.201905240831"/>
      <unit id="org.eclipse.xtext.xbase.lib" version="2.18.0.v20190528-0016"/>
      <unit id="org.eclipse.xtext" version="2.18.0.v20190528-0021"/>
      <unit id="org.eclipse.ocl.ecore" version="3.10.300.v20190603-1146"/>
      <unit id="org.eclipse.ocl.uml.feature.group" version="5.9.0.v20190603-1146"/>
      <unit id="org.eclipse.emf.ecore" version="2.18.0.v20190528-0845"/>
      <unit id="org.eclipse.gmf.runtime.sdk" version="1.7.0.201905141505"/>
      <unit id="org.eclipse.gmf.runtime.emf.type.core" version="1.9.0.201905141505"/>
      <repository id="eclipse-2019-06" location="http://download.eclipse.org/releases/2019-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="4.4.0.201906121718"/>
      <unit id="org.eclipse.papyrus.infra.gmfdiag.feature.feature.group" version="3.0.0.201906121718"/>
      <unit id="org.eclipse.papyrus.infra.services.feature.feature.group" version="3.0.0.201906121718"/>
      <unit id="org.eclipse.papyrus.views.properties.toolsmiths" version="2.0.2.201906121827"/>
      <repository id="papyrus" location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/2019-06"/>
    </location>
  </locations>
</target>
